.HighWall > .Hud {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1050; /* equal to `$zindex-modal` in bootstrap */
  max-width: 130px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;

  font-size: 10px;
  color: #ffffff;
  background: #000000;
  opacity: 0.6;
}

.HighWall > .Hud > dt,
.HighWall > .Hud > dd {
  margin: 0;
  padding: 0;
}

.HighWall > .Hud > dt {
  width: 80px;
}

.HighWall > .Hud > dd {
  width: 40px;
}

.HighWall > .Hud.leftTop {
  top: 0;
  left: 0;
}

.HighWall > .Hud.rightTop {
  top: 0;
  right: 0;
}

.HighWall > .Hud.leftBottom {
  bottom: 0;
  left: 0;
}

.HighWall > .Hud.rightBottom {
  bottom: 0;
  right: 0;
}
